<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles Index</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan=3>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article)%></td>
        <td><%= link_to 'Delete', article_path(article), data: {turbo_method: :delete, turbo_confirm: "Certeza?"}%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p3><%= link_to 'New Article', new_article_path() %></p3>
</body>
</html>
